@use '../styles/variables' as *;

.container {
  position: relative;
  z-index: 10;  
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 210px);
}

.text {
  font-size: 16px;
  font-weight: 700;
  color: $muted;
  text-align: center;
}
